body {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #ccffcc;
  font-size: 45px;
  color: white;
}

#container {
  margin-top: 170px;
  padding: 16px 16px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #006600;
  border-radius: 8px;
  background-color: hsl(155, 50%, 20%);
}

#display {
  border: 1px solid black;
  height: 50px;
  width: 250px;
  padding: 2px 2px;
  margin: auto;
  text-align: right;
  border-radius: 8px;
}

#buttons {
  display: flex;
}

button {
  width: 48px;
  height: 48px;
  margin-bottom: 4px;
  border-color: #006600;
  border-radius: 8px;
  background-color: #009900;
  color: white;
  box-shadow: 0 6px #006600;
}

button:active {
  box-shadow: 0 3px #006600;
  transform: translateY(4px);
}

#clear-button {
  background-color: #660;
}

#equals-button {
  background-color: #990;
}

button.operator {
  background-color: #6c0;
}
